<div class="row">
    <h1>Recently Projects</h1>
    <div class="contenedor">
        <div>
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h4>Codo a Codo Project - 8 Patitas Mascotas</h4>
                <p>Web page design made for a small company that starts with a business of food and supplies selling for
                    small pets. <br>
                    Work done for the final project of the program Codo a Codo (Full Stack - Python)
                </p>
            </div>
            <div class="col-sm 12 col-md-4 col-lg-4 offset-md-1 offset-lg-1 parte2">
                <a href="http://8patitasmascotas.netlify.app/" target="_blank">
                    <img src="../../../assets/8patitas.png" alt="8patitas" class="img-fluid img-proyecto"></a>
            </div>
        </div>
    </div>
</div>