<div class="row">
    <h1>Hard and Soft Skills</h1>
    <!-- html -->
    <div class="col-sm-2 col-md-2 col-lg-2">
        <circle-progress 
        [percent]="90" 
        [imageSrc]="'../../../assets/html.png'" 
        [showImage]="true" 
        [showUnits]="false"
        [imageHeight]="50" 
        [imageWidth]="50" 
        [radius]="50" 
        [outerStrokeWidth]="8" 
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#c07335'" 
        [innerStrokeColor]="'#d88f54'" 
        [animation]="true" 
        [animationDuration]="600">
        </circle-progress>
    </div>
    <!-- css -->
    <div class="col-sm-2 col-md-2 col-lg-2">
        <circle-progress [percent]="75" [imageSrc]="'../../../assets/CSS.png'" [showImage]="true" [showUnits]="false"
            [imageHeight]="55" [imageWidth]="45" [radius]="50" [outerStrokeWidth]="8" [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c07335'" [innerStrokeColor]="'#d88f54'" [animation]="true" [animationDuration]="600">
        </circle-progress>
    </div>
    <!-- js -->
    <div class="col-sm-2 col-md-2 col-lg-2">
        <circle-progress [percent]="50" [imageSrc]="'../../../assets/js.logo.png'" [showImage]="true"
            [showUnits]="false" [imageHeight]="55" [imageWidth]="45" [radius]="50" [outerStrokeWidth]="8"
            [innerStrokeWidth]="4" [outerStrokeColor]="'#c07335'" [innerStrokeColor]="'#d88f54'" [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
    <!-- c# -->
    <div class="col-sm-2 col-md-2 col-lg-2">
        <circle-progress [percent]="40" [imageSrc]="'../../../assets/c.png'" [showImage]="true" [showUnits]="false"
            [imageHeight]="50" [imageWidth]="50" [radius]="50" [outerStrokeWidth]="8" [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c07335'" [innerStrokeColor]="'#d88f54'" [animation]="true" [animationDuration]="600">
        </circle-progress>
    </div>
    <!-- git -->
    <div class="col-sm-2 col-md-2 col-lg-2">
        <circle-progress [percent]="40" [imageSrc]="'../../../assets/git.png'" [showImage]="true" [showUnits]="false"
            [imageHeight]="50" [imageWidth]="55" [radius]="50" [outerStrokeWidth]="8" [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c07335'" [innerStrokeColor]="'#d88f54'" [animation]="true" [animationDuration]="600">
        </circle-progress>
    </div>
    <!-- sql -->
    <div class="col-sm-2 col-md-2 col-lg-2">
        <circle-progress [percent]="80" [imageSrc]="'../../../assets/SQL1.png'" [showImage]="true" [showUnits]="false"
            [imageHeight]="55" [imageWidth]="55" [radius]="50" [outerStrokeWidth]="8" [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c07335'" [innerStrokeColor]="'#d88f54'" [animation]="true" [animationDuration]="600">
        </circle-progress>
    </div>
    <!-- postman -->
    <div class="col-sm-2 col-md-2 col-lg-2">
        <circle-progress [percent]="90" [imageSrc]="'../../../assets/Postman.png'" [showImage]="true"
            [showUnits]="false" [imageHeight]="50" [imageWidth]="50" [radius]="50" [outerStrokeWidth]="8"
            [innerStrokeWidth]="4" [outerStrokeColor]="'#c07335'" [innerStrokeColor]="'#d88f54'" [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
    <!-- swagger -->
    <div class="col-sm-2 col-md-2 col-lg-2">
        <circle-progress [percent]="90" [imageSrc]="'../../../assets/Swagger.png'" [showImage]="true"
            [showUnits]="false" [imageHeight]="20" [imageWidth]="75" [radius]="50" [outerStrokeWidth]="8"
            [innerStrokeWidth]="4" [outerStrokeColor]="'#c07335'" [innerStrokeColor]="'#d88f54'" [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
    <!-- jira -->
    <div class="col-sm-2 col-md-2 col-lg-2">
        <circle-progress [percent]="75" [imageSrc]="'../../../assets/jira.png'" [showImage]="true" [showUnits]="false"
            [imageHeight]="20" [imageWidth]="50" [radius]="50" [outerStrokeWidth]="8" [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c07335'" [innerStrokeColor]="'#d88f54'" [animation]="true" [animationDuration]="600">
        </circle-progress>
    </div>
    <!-- scrum -->
    <div class="col-sm-2 col-md-2 col-lg-2">
        <circle-progress [percent]="85" [imageSrc]="'../../../assets/scrumorg-1.svg'" [showImage]="true"
            [showUnits]="false" [imageHeight]="40" [imageWidth]="60" [radius]="50" [outerStrokeWidth]="8"
            [innerStrokeWidth]="4" [outerStrokeColor]="'#c07335'" [innerStrokeColor]="'#d88f54'" [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
    <!-- english -->
    <div class="col-sm-2 col-md-2 col-lg-2">
        <circle-progress [percent]="75" [imageSrc]="'../../../assets/eng1.png'" [showImage]="true" [showUnits]="false"
            [imageHeight]="50" [imageWidth]="50" [radius]="50" [outerStrokeWidth]="8" [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c07335'" [innerStrokeColor]="'#d88f54'" [animation]="true" [animationDuration]="600">
        </circle-progress>
    </div>
    <!-- portuguese -->
    <div class="col-sm-2 col-md-2 col-lg-2">
        <circle-progress [percent]="60" [imageSrc]="'../../../assets/portuguese.png'" [showImage]="true"
            [showUnits]="false" [imageHeight]="50" [imageWidth]="50" [radius]="50" [outerStrokeWidth]="8"
            [innerStrokeWidth]="4" [outerStrokeColor]="'#c07335'" [innerStrokeColor]="'#d88f54'" [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
</div>