<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p class="nombre" id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>QA Analyst Sr. & Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Resume</h1>
            <p>I’m a proactive, responsible, and very practical person, with the ability to manage and analyze. I like to work as a team and individually. I’m always predisposed to learn, and I am interested to work with new technologies, in system area, covering positions as QA Analyst, technical support, customer service, development or in the management people and supervision. 
                I have a high proficiency in computer technology. I’m flexible and goal oriented with an exceptional attention to details. I’m experienced with software testing techniques with a strong focus on quality through the entire software development cycle. Very good English communication skills.
                </p>
        </span>
    </div>
</div> 